.teniireta-toolbar {
	display: flex;
	flex-wrap: wrap;
	background-color: #4064b8;
	position: relative;
	padding: 10px;
}

.teniireta button {
	padding: 4px;
	color: hsla(0, 0%, 100%, .8);
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-color: #6d8dd8;
	border-left-color: #6d8dd8;
	border-right-color: #2e51a3;
	background-color: #4064b8;
	border-bottom: 4px solid #192a51;
	outline: none;
	width: 100%
}

.teniireta button:hover {
	background-color: #4f71c0;
}

.teniireta button:disabled {
	background-color: #868fa6;
	color: #d1d1d1;
	border-top-color: #99a3c1;
	border-left-color: #aeb9d5;
	border-bottom-color: #595959;
	border-right-color: #838c9f;
}

.menu {
	display: grid;
	grid-gap: 5px;
	padding: 5px;
	justify-content: center;
	text-align: center;
	background-color: #4064b8;
	width: 100%;
	color: white;
}
